
//breakpoints
$tablet: 768px;
$lg: 992px;
$desktop: 1200px;
$desktopXL: 1600px;
$desktopXXL: 2000px;

@mixin phoneLS {
  @media only screen and (min-device-width: 375px) and (max-device-width: 950px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin desktopXl {
  @media screen and (min-width: $desktopXL) {
    @content;
  }
}
@mixin desktopXXL {
  @media screen and (min-width: $desktopXXL) {
    @content;
  }
}


@mixin button {
  border-radius: 12px;
  border-style: none;
  line-height: 1.23;

  position: relative;

  height: 3.29rem;
  width: 100%;
  justify-items: center;
  text-align: center;
  align-items: center;
  background-color: config.$primary-color;
  color: white;
  border: solid white 2px;
  // @include config.transition-cubBez;
  transition: all ease-in-out 0.3s;

  &::after {
    content: '';
    background: url('/src/media/arrow-right-circle-fill.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: config.$primary-color;
    width: 2rem;
    height: 2rem;
    right: 33%;
    bottom: calc(2rem / 2 / 2);
    position: absolute;
    opacity: 0;
    @include config.transition-cubBez;
  }
  & span {
    margin-right: 0rem;
    transition: margin 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    @include config.transition-cubBez;

    & span {
      @include config.transition-cubBez;
      margin-right: 5%;
    }

    &::after {
      transition-delay: 0.15s;
      opacity: 1;
      right: 30%;
    }
  }
}
