@use 'mixins';
@use 'keyframes';

.animal__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 500px;
  margin: 1rem;
  height: 60vh;
  background-color: rgb(27, 27, 27);
  cursor: pointer;

  picture {
    overflow: hidden;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  h2 {
    font-size: 3rem;
    margin: 0;
  }

  p {
    margin: 0;
    max-width: 600px;
  }

  .alert {
    animation: badgeanimation 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate both;

    &__badge {
      display: flex;
      flex-wrap: wrap;
      background-color: red;
      padding: 1rem 2rem;
      position: absolute;

      p {
        font-weight: 700;
      }
    }
  }

  &--details {
    @extend .animal__card;
    cursor: unset;
    display: grid;
    grid-template-areas:
      'pic'
      'hd'
      'latin'
      'abnm'
      'birth'
      'medi'
      'sdesc'
      'absp'
      'ldesc'
      'fed'
      'last'
      'btn';
    width: 80vw;
    height: unset;

    @include mixins.desktop {
      grid-template-areas:
        'pic hd'
        'pic latin'
        'pic abnm'
        'pic birth'
        'pic medi'
        'pic sdesc'
        'pic absp'
        'pic ldesc'
        'pic ldesc'
        'pic last'
        '1fr btn';
    }

    picture {
      height: 100%;
      grid-area: pic;

    }




    #name {
      grid-area: hd;
      font-size: 3rem;
    }

    #about-name {
      grid-area: abnm;
    }

    #about-species {
      grid-area: absp;
    }

    #short-description {
      grid-area: sdesc;
    }

    #long-description {
      grid-area: ldesc;
    }

    #medicine {
      grid-area: medi;
    }

    #is-fed {
      grid-area: fed;
    }

    #last-fed {
      grid-area: last;
    }

    #latin {
      grid-area: latin;
      font-style: italic;
    }

    #birth {
      grid-area: birth;
    }

    button {
      grid-area: btn;
    }

    &.alert {
      animation: borderanimation 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate both;
    }
  }

  &.alert {
    animation: shake 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate both;
  }
}

.alert--btn {
  background-color: #ff4500;
}

.hungry {
  border-color: orangered;
}

.animal__list--home {
  cursor: none;

  .animal__card {
    height: 30vh;
    width: 300px;
    transition: all 3s ease-in;
  }
}

#stickan {
  z-index: 99;
}

#back-to-animals {

  &::before {
    content: "";
    background-image: url('/arrow_back.svg');
    display: inline-block;
    background-repeat: no-repeat;
    height: 1rem;
    width: 2rem;
    background-size: 1rem 1rem;
    vertical-align: -.125em;
  }
}

.fallback-label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}