@use 'showAnimal';
@use 'reset';
@use 'animalList';
@use 'header';
@use 'footer';
@use 'mixins';
@use 'config';
@use 'cursor';

#root{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 1rem;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
  }
  a:hover {
    color: #9f9f9f;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    color: whitesmoke;
    font-weight: 500;
    font-family: inherit;
    background-color: #005f19;
    cursor: pointer;
    transition: border-color 0.25s;
    max-width: 300px;
  }
  button:hover {
    border-color: #efefef;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
@font-face {
    font-family: 'QuiteMagicalRegular';
    src: url('../fonts/QuiteMagicalRegular.ttf');
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1{
    font-family: 'QuiteMagicalRegular';
    font-size: config.$hero-h1-mobile;
    @include mixins.desktop {
        font-size: config.$hero-h1-desktop;
    } 
  }
    
    h2{
    font-family: 'QuiteMagicalRegular';
    font-size: config.$hero-subhead-mobile;
    @include mixins.desktop {
        font-size: config.$hero-subhead-desktop;
    }

}